/*Elements*/
h1 {
  color: white;
}

a {
  color: inherit;
  text-decoration: inherit; 
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

img[data-src][src*="data:image"] {
  background: rgba(0, 0, 0, 0.1);
}

p {
  text-align: center;
}

button {
  padding: 0;
  text-align: center;
}

/*Logo Styling*/
.logo-text {
  font-family: "Bebas Neue", cursive;
}

.green {
  color: lawngreen;
}

/*Header Styling*/
#site-head {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  background-color: black;
}

.search-fld {
  border-radius: 50px;
  padding: 0 1rem;
}

#searchHistory {
  display: inline;
  white-space: pre-wrap;
  text-align: center;
  margin: 10px;
}

/*Homescreen Placeholder*/
.place-holder {
  width: 100%;
  height: 100%;
  background-image: url("../Optimized-bestoftherest.jpg");
  background-position: center;
  background-size: cover;
}

.place-holder-text {
  font-family: "Tangerine", cursive;
  padding: 260px 0;
  text-align: center;
  font-size: 100px;
}

.uk-placeholder {
  border: none;
  padding: 50px 20px 10px 20px;
}

#site-foot {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.8rem;
}

/*Card Styling*/
.uk-card {
  border-top: 2px solid;
  position: relative;
  transition: box-shadow 0.15s ease-out;
  border-radius: 3px;
}

.uk-card:hover {
  box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.045);
}

.uk-card .uk-inline {
  z-index: 99;
}

.uk-card .uk-card-footer {
  padding: 0.55rem 1rem;
}

.uk-card .uk-card-header {
  padding: 0.55rem 1rem;
}

.uk-card .cat-txt {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.01em;
}

.address-height {
  height: 30px;
}
/*Map header*/
#map-header{
  display:none;
}

/* Set the size of the div element that contains the map */
#map {
  display: none;
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  padding-left: 0px;
  margin-left: 0px;
}

/* added hide feature to hide and remove display as and when needed*/
.hide {
  display: none;
}

/*Layout CSS*/
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  gap: 1rem;
  text-align: center;
}

/*Map directions word*/
a#Direction{
  color:blue;
  text-decoration: underline;
}

